@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    background-color: #87c95d;
    background-image: url(../img/fondo-verde-claro.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: "Crimson Text", serif;
    font-style: normal;
    margin: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    justify-content: center;
}

.sin-margen {
    margin: 0 !important;
}

.col-5 {
    background-color: rgb(37, 202, 29);
    color: rgb(214, 240, 203);
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 6px 6px 5px 0px rgb(50, 152, 7);
    max-width: 100px;
    transition: 250ms;
    text-align: center;
}

.col-5:hover {
    transform: scale(1.02);
    transition: 200ms;
    box-shadow: 2px 2px 1px 0px rgb(50, 152, 7);
    color: rgb(198, 231, 197);
    background-color: rgba(38, 202, 29, 0.658);
}

.carta-box {
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
}
/* 
.carta-box:hover .carta {
    transform: rotateY(180deg);
}
 */
.carta {
    transform-style: preserve-3d;
}

.cara {
    backface-visibility: hidden;
}

.cara a {
    text-decoration: none;
    color: rgb(214, 240, 203);
}

.cara.detras {
    transform: rotateY(180deg);
}

.button{
    background-color: rgb(165, 236, 135);
    color: rgb(71, 200, 16);
    padding: 4px 15px;
    border: 2px solid rgb(71, 200, 16);
    border-radius: 10px;
    margin-top: 5px;
}

.b2 {
    background-color: rgb(165, 236, 135);
}

.button:hover {
    background-color: rgb(71, 200, 16) ;
    color: rgb(186, 230, 167);
}

input, select {
    background-color: rgb(165, 236, 135);
    color: rgb(48, 150, 5);
    padding: 4px 15px;
    border: 2px solid rgb(71, 200, 16);
    border-radius: 10px;
    margin-top: 5px;
}

input:focus-visible, select:focus-visible {
    outline: none;
}

footer {
    display: flex;
    background-color: rgb(71, 200, 16);
    color: rgb(214, 240, 203);
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 15px;
    margin-top: 30px
}
